# Ignore image files in the postman collections Zelda Jogos directory
# Ignore image Jogos directory
postman/collections/Zelda/Jogos/Obterapenasdoisjogos.png
postman/collections/Zelda/Jogos/Obterjogospornome.gif
postman/collections/Zelda/Jogos/Obtertodososjogos.gif
# Ignore image Personagens directory
postman/collections/Zelda/Jogos/Obtertodososjogos.gif
