body {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #f5f5f5;
  max-width: 100%;
  min-width: 80%;
  max-width: 100%;
  min-width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: 25px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-align: center;
}
/* HEADER */
header {
  background: #1f1f1f;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
p.ZeldaLink{
  text-shadow:2px 2px #24cc78;
  color: black;
}
a.ZeldaLink:hover {
  text-decoration: none;
  text-shadow: 2px 2px  #24cc78;
  color: red;
}
a.ZeldaLink {
text-decoration: none;
  text-shadow: 2px 2px  #24cc78;
  font-weight: bold;
  color: black;}
/* CONTAINER */
.container {
  display: flex;
  gap: 16px;
}

p {
  padding: 0px;
  border-radius: 8px;
  margin: 8px 0;
  top: 0px;
  bottom: 0;
  width: 100%;
}
img#ePIX{
  width: 200px;
  margin-top: 10px;
}

/* MAIN */
main {
  background: white;
  color: #333;
  margin: 20px auto;
  padding: 24px;
  border-radius: 15px;
  width: 90%;
  min-width: 950px;
  max-width: 950px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1 4px 20px rgba(0, 0, 0, 0.3);
}
main.container {
  flex-direction: column;
  align-items: center;
  overflow-x: none;
}

/* BOTÕES */
button.menu-toggle {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #24cc78;
  cursor: -moz-grab;

  background: black;
  color: white;

  transition: all 0.3s ease;
}

button.menu-toggle:hover {
  background: #24cc78;
  transform: translateY(-2px);
}
div#tabs {
  min-width: 95%;
  max-width: 100%;
  background-color: #24cc78;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -25px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 12px;
}
button.menu-toggle:active {
  transform: scale(0.95);
}

button.tab-button {
  margin-top: -10px;
  font-weight: bolder;
  border: none;
  min-width: 10%;
  max-width: 25%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}

button.tab-button.active {
  align-content: center;
  background-color: #24cc78;
  border: white solid;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-weight: bold;
}

/* LISTA */
li {
  list-style: none;
}

/* TABELA PROFISSIONAL */
table {
  width: 95%;
  border-collapse: collapse;
  border-radius: 12px;
  margin-top: 20px;
  background-color: white;
}

th {
  background: #24cc78;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: justify;
}

tr:hover td {
  background: #24cc78;
  color: white;
  border: white solid 1px;
  font-weight: bolder;
}

/* FOOTER */
footer {
  background: black;
  transform: translateY(2px);
  text-align: center;
  padding: 1px;
  margin-top: 1px;
  color: #f5f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
}
